@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

body{
  font-family: 'Comfortaa', cursive;
  background-color: #121212;
  color: white;
}
:root {
  --primary: #2393f5;
  --secondary: #f58523;
  --primary-ligher: #3DADFF;
}

h1 {
  color: var(--primary)
}

button {
  background-color: var(--secondary);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font: inherit;
  cursor: pointer;
}

fieldset {
  min-width: 150px;
  border-radius: 5px;
  padding: 5px 15px 11px 15px;
  display: inline-block;
  border: 1.5px solid white;
}

select {
    margin-top: 15px;
    width: 100%;
    outline: none;
    padding: 4px 4px 4px 4px;
    font: inherit;
    line-height: 2;
    color:black;
    border-radius: 10px;
    border: none;
}

input {
  width: 100%;
  outline: none;
  padding: 4px 4px 4px 4px;
  font: inherit;
  color:black;
  border-radius: 10px;
  border: none;
}

legend{
  margin:-20px 0;
}


fieldset:hover {
    border-color: var(--primary-ligher)
}

fieldset:hover legend{
    color:var(--primary-ligher)
}

.red {
  color: #fd1403;
}